body{
    background-color: rgb(182, 240, 220);
color:rgb(40, 37, 33)
} 
table {background-color: rgb(218, 237, 253);
columns : black;}
h5{color: blue;}
h2{color: rgb(117, 23, 23);}
td{border: 2px solid black;}